{% include "head.html" %}
<main class="statement wide">
<h1>Submit your statement</h1>
<p class="guidance">
Write your witness statement in the box below. Please, use the following guidelines:
<ul>
	<li>Briefly identify all individuals involved in the incident, and your relation to them (if any). State whether any of the individuals were in a group. </li>
	<li>Briefly identify the place where the incident took place. If more than one, please describe all places and how are they connected to each other. </li>
	<li>Briefly locate the people that you have identified above in the mentioned place(s). Please mention the time when the incident started. </li>
	<li><b>Write a detailed, chronological account of the incident. Refer to the people and places you identified previously.</b> You will later be asked to describe these people in detail, so there is no need to describe them in this section. </li>
</ul>
</p>

<p class="guidance">After clicking continue, you will have a change to review your statement before submitting it.</p>

<form class="statement" action="{{ next }}" method=POST>
  <label for="statement">Statement</label>
  <textarea id="statement" placeholder="Please enter your statement here" cols=80></textarea>
  <button type=submit name=submit value=check>Continue</button>
</form>
</main>
