:root {
  --c1: rgba(2, 11, 34, 1);
  --c2: rgba(239, 232, 158, 1);
  --c3: rgba(47, 48, 97, 1);
  --c4: rgba(255, 230, 109, 1);
  --c5: rgba(247, 247, 242, 1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  color: var(--c1);
}

main {
  padding: 2em;
  display: block;
}

h1, h2 {
  display: block;
  border-bottom: 2px solid var(--c4);
  padding: 10px;
  margin: 0 0 1em 0;
}

h2, h3, h4 {
  padding: 10px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: var(--c3);
}

a:hover {
  border-bottom: 2px solid var(--c3);
}

ul#breadcrumbs {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--c1);
  color: var(--c5);
}

ul#breadcrumbs li {
  display: inline-block;
  padding: 1em;
  margin: 0;
}

ul#breadcrumbs li:before {
  content: '➤';
  color: var(--c3);
  font-weight: bold;
  margin: 0 1em 0 -1em;
}

ul#breadcrumbs li:first-child:before {
  content: '';
  margin: 0;
}

#breadcrumbs a:link, 
#breadcrumbs a:visited, 
#breadcrumbs a:active {
  text-decoration: none;
  color: var(--c2);
}

#breadcrumbs a:hover {
  border-bottom: 2px solid var(--c2);
}

ul.related {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.related li {
  margin: 5px;
}

.related a:link, 
.related a:visited, 
.related a:active {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: var(--c2);
  background-color: var(--c3);
  border-radius: 5px;
}

.related a:hover {
  color: var(--c5);
  border: 0;
}

.logo {
  float: right;
  font-weight: bold;
  font-variant: small-caps;
  border-top: 3px solid var(--c5);
  border-bottom: 3px solid var(--c5);
  color: var(--c5);
  margin: 0.8em;
}

table {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  border-collapse: collapse;
}

tbody {
  display: contents;
}

tr {
  display: contents;
}

th, td {
  padding: 10px;
  border: 1px solid #f0f0f0;
  margin: 5px;
}

th {
  background-color: #f0f0f0;
  text-align: right;
  margin-right: 0;
}

td {
  margin-left: 0;
}

.entities {
  padding: 10px;
}

.top {
  display: grid;
  grid-template-columns: auto auto;
}

.menu {
  width: 100%;
}

#container {
  max-width: 100%;
  height: 400px;
  margin: auto;
  margin-bottom: 100px;
}

main.centre {
  height: 100%;
  min-height: 100%;
  display: grid;
  align-items: center;
  background-color: var(--c3);
}

.splash {
  width: 30%;
  margin: auto;
  padding: 40px;
  background-color: var(--c1);
  border-radius: 20px;
  color: var(--c5);
  text-align: center;
}

.splash h1 {
  display: inline-block;
  clear: both;
  font-size: 60px;
  font-weight: bold;
  font-variant: small-caps;
  border-top: 8px solid var(--c5);
  border-bottom: 8px solid var(--c5);
  color: var(--c5);
  padding: 0;
  margin: auto;
  margin-bottom: 30px;
}

.splash p,
.splash label,
.splash input {
  display: block;
  padding: 10px;
  margin: auto;
}

.splash p {
  text-align: left;
  width: 70%;
}

.splash label {
  text-align: left;
  margin-bottom: 10px;
  width: 70%;
}

.splash input {
  background-color: var(--c5);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 70%;
}

.splash button {
  background-color: var(--c2);
  border: none;
  border-radius: 10px;
  font-size: 25px;
  width: 70%;
}

main.statement {
  width: 50%;
  margin: auto;
}

main.statement.wide {
  width: 70%;
}

form.statement {
  padding: 10px;
  font-size: 1.2em;
}

form.statement label {
  display: block;
  background-color: var(--c1);
  color: var(--c5);
  padding: 10px;
  border: none;
  border-radius: 5px 5px 0 0;
  font-size: 0.8em;
}

form.statement input,
form.statement select {
  display: block;
  background-color: #f0f0f0;
  color: var(--c1);
  padding: 10px;
  border: none;
  border-radius: 0 0 5px 5px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 20px;
}

form.statement button,
a.button:link, a.button:active, a.button:visited {
  display: inline-block;
  font-family: sans-serif;
  background-color: var(--c3);
  color: var(--c5);
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 8px;
}

.guidance {
  font-size: 1.2em;
  line-height: 120%;
  padding: 10px;
}

.important {
  position: relative;
  background-color: var(--c4);
  font-weight: bold;
}

.important:before {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  content: '!';
  font-weight: bold;
  font-size: 5em;
  background-color: var(--c1);
  color: var(--c4);
  text-align: center;
  overflow: hidden;
  margin: 0 10px 30px 0;
}

.editable {
  background-color: #f0f0f0;
  color: var(--c1);
  border-radius: 5px;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  line-height: 2.5;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.hints li {
  margin-bottom: 20px;
}
