{% include "pre.html" %}
<main class="centre">
  <form action="{{ next }}" method="GET" class="splash">
    <h1>Wit</h1>
    <div>
      <p>You might have been asked to submit a witness statement in relation to a crime investigation.</p>
      <p>A police officer should have provided you with a unique password with which to submit your statement.</p>
      <label for=auth>
        Please enter the password here:
      </label>
      <input id=auth type="password" placeholder="Password">
      <button type=submit>Go</button>
    </div>
  </form>
</main>
