{% include "head.html" %}
<main class=statement>
  <h1>Consent</h1>
  <p class=guidance>
  Please fill out the following consent requirements.
  </p>
  <form class=statement action="{{ next }}" method="GET">
    <label>(For victims only) The Victim Personal Scheme has been explained to me?</label>
    <select>
      <option value="s"></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>


    <label>(For victims only) I have been given the Victim Personal Leaflet</label>
    <select>
      <option value="s"></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>I have been given the leaflet <em>Giving a witness statement to the police - what happens next?</em></label>
    <select>
      <option value="s"></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label>I consent to police having access to my medical record(s) in relation to this matter (obtained in accordance to local practice)</label>
    <select>
      <option value="s"></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="na">Not Applicable</option>
    </select>


    <label>I consent to my medical record in relation to this matter being disclosed to the defence</label>
    <select>
      <option value="s"></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="na">Not Applicable</option>
    </select>


    <label>I consent to the statement being disclosed for the purposes of civil, or other proceedings if applicable, e.g. child care proceedings, CICA</label>
    <select>
      <option value="s"></option>
      <option value="yes">Yes</option>
      <option value="no">No</option>
      <option value="na">Not Applicable</option>
    </select>

    <label>Address and telephone number (of parent etc.), if different from above</label>
    <input type="text" name="homeadress"><br>

    <button type=submit>Continue</button>
  </form>
</main>
