{% include "head.html" %}
<main class=statement>
  <h1>Witness care</h1>
  <p class=guidance>
  It is a requirement by law that all the following questions should be covered. Please, answer ALL of them to the best of your knowledge. Your answers will be added at the end of your statement.
  </p>
  <form class=statement action="{{ next }}" method="GET">
    
    <label>How long did you have the person/incident in view?</label>
    <input type="text" name="homeadress">
    
    <label>What was the distance between you and the person/incident?</label>
    <input type="text" name="homeadress">

    <label>Were there any obstructions to your view?</label>
    <input type="text" name="homeadress">

    <label>Do you know, or had you ever seen, the person (or people) involved in the incident before? If so, where and when?</label>
    <input type="text" name="homeadress">

    <label>Do you have any special reason for remembering the person/incident? Was there something specific that made the person/incident memorable?</label>
    <input type="text" name="homeadress">

    <label>How long has elapsed since you witnessed the person/incident?</label>
    <input type="text" name="homeadress">

    <label>Are there any errors or material discrepancies between descriptions in your first and subsequent accounts?</label>
    <input type="text" name="homeadress">

    <button type=submit>Continue</button>
  </form>
</main>

