{% include "head.html" %}
<main class="statement wide">
<h1>Submit your statement</h1>
<p class="guidance">
Write your witness statement in the box below. Please, use the following guidelines:
<ul>Write your statement here. Please, use the following guidance:
	<li>Briefly identify all individuals involved in the incident, and your relation to them (if any). State whether any of the individuals were in a group. </li>
	<li>Briefly identify the place where the incident took place. If more than one, please describe all places and how are they connected to each other. </li>
	<li>Briefly locate the people that you have identified above in the mentioned place(s). Please mention the time when the incident started. </li>
	<li><b>Write a detailed, chronological account of the incident. Refer to the people and places you identified previously.</b> You will later be asked to describe these people in detail, so there is no need to describe them in this section. </li>
</ul>
</p>

<form id="statement_submit" class="statement" method=POST>
  {% if hints %}
  <ul class=hints>
    {% for hint in hints %}
    <li>You mentioned a <mark class="entity" style="background: #ddd; padding: 0.45em 0.6em; margin: 0 0.25em; line-height: 1; border-radius: 0.35em; box-decoration-break: clone; -webkit-box-decoration-break: clone">{{ hint['ent'].text }}<span style="font-size: 0.8em; font-weight: bold; line-height: 1; border-radius: 0.35em; text-transform: uppercase; vertical-align: middle; margin-left: 0.5rem">{{ hint['ent'].label_ }}</span></mark>, would you be able to add {{ hint['prompt'] }}?</li>
    {% endfor %}
  </ul>
  {% endif %}
  <label>Statement</label>
  {% if statement_text %}
  {{ statement_text.replace('class="entities"', 'id="statement_edit" class="editable entities" contenteditable=true')|safe }}
  {% else %}
  <div id="statement_edit" class="editable entities" contenteditable=true>
  </div>
  {% endif %}
  <input type=hidden name="statement" id="statement_text" value="">
  <button type=submit name=submit value=check>Check</button>
  <a class=button href="/give-statement/summary">Submit</a>
</form>

<script type=application/javascript>
  const form = document.getElementById('statement_submit')
  const edit = document.getElementById('statement_edit')
  const input = document.getElementById('statement_text')

  form.onsubmit = function submit(event) {
    var content = edit.textContent.trim();
    console.log(content);
    input.value = content;
  }
</script>
</main>
